<header class="nav-bar">
  <ul>
    <li>
      <img src="" alt="ME" class="pic-of-me">
    </li>
    <li>
      <h3>Holger Mueller</h3>
      <h4>Writer Coder Traveller Enthusiast</h4>
    </li>
    <li>
      <a href="/">HOME</a>
    </li>
    <li>
      <a href="#aboutMe">ABOUT ME</a>
    </li>
    <li>
      <a href="#stories">STORIES</a>
    </li>
    <li>
      <a href="#published">PUBLISHED</a>
    </li>
    <li>
      <a href="#blog">BLOG?</a>
    </li>
    <li>
      <a href="#contact">CONTACT</a>
    </li>
    <li>
      <footer class="footer">&copy; Holger Mueller 2019</footer>
    </li>
  </ul>
</header>