<header class="nav-bar">
  <ul>
    <li>
      <img src="" alt="ME">
    </li>
    <li>
      <a href="">ABOUT ME</a>
    </li>
    <li>
      <a href="">STORIES</a>
    </li>
    <li>
      <a href="">PUBLISHED</a>
    </li>
  </ul>
  <footer>Holger Mueller 2019</footer>
</header>