<section class="story-section">
  <h1 class="story-title">Earth's Fall</h1>
  <hr>
  <div class="chapter-div">
    <h3 class="chapter-header">Chapter 1
      <button id="chapOneBtn" class="chapter-btn" >X</button>
    </h3>
    <div class="chapter-content" id="chapterOneContent">
      <p>Content goes here...</p>
    </div>
  </div>
  <hr>

</section>