<section class="content">
  <h1>Holger Mueller</h1>
</section>

<section class="about-me content" id="aboutMe">
  <button class="section-button" id="about-me-dropdown" data-toggle="dropdown">
    <h2 class="section-header">About Me<span class="caret"></span></h2>
  </button>
  <div id="aboutMeContent" class="about-me-content">
    some content
  </div>


</section>

<hr>

<section class="stories content" id="stories">
  <h2 class="section-header">Stories</h2>

</section>

<hr>

<section class="published content" id="published">
  <h2 class="section-header">Published</h2>

</section>

<hr>

<section class="blog content" id="blog">
  <h2 class="section-header">Blog</h2>

</section>

<hr>

<section class="contact content" id="contact">
  <h2 class="section-header">Contact</h2>

  <div>
    <form action="">
      
    </form>
  </div>

</section>
