<section class="content">
  <h1>Holger Mueller</h1>
</section>

<section class="about-me content" id="aboutMe">
  <h2 class="section-header">
    About Me
    <button class="section-button" id="about-me-dropdown" data-toggle="dropdown">D</button>
  </h2>

  <div id="aboutMeContent" class="about-me-content">
    some content
  </div>


</section>

<hr>

<section class="stories content" id="stories">
  <h2 class="section-header">Stories</h2>

</section>

<hr>

<section class="published content" id="published">
  <h2 class="section-header">Published</h2>

</section>

<hr>

<section class="blog content" id="blog">
  <h2 class="section-header">Blog</h2>

</section>

<hr>

<section class="contact content" id="contact">
  <h2 class="section-header">Contact
    <button class="section-button" id="contactDropdown" data-toggle="dropdown">X</button>
  </h2>

  <div id="contactForm" class="contact-form">
    <form action="" class="form">
      <input type="text" placeholder="Name..." class="form-control" class="input" required>
      <input type="text" placeholder="E-mail..." class="form-control input" required>
      <select name="" id="country" name="country" class="form-control input">
        <option value="us">United States</option>
        <option value="uk">United Kingdom</option>
        <option value="sk">South Korea</option>
        <option value="jp">Japan</option>
        <option value="au">Australia</option>
        <option value="dec">Decline to answer...</option>
      </select>
      <textarea name="" id="" cols="30" rows="10" class="form-control input" placeholder="What would you like to say?"></textarea>
      </textarea>
      <input type="submit" id="submit" value="SUBMIT" class="form-control">
    </form>
  </div>

</section>